<section class="reviews" {% if (not elements.Отзывы.active) %} hidden {% endif %} {% if (not active) %} hidden {% endif %}>
    <div class="container reviews__container">
        <h2 class="title reviews__title">ОТЗЫВЫ КЛИЕНТОВ</h2>
        <div class="reviews__list">
            {% for review in elements.Отзывы.data.block %}
            <div class="reviews__item">
                <div class="reviews__img" style="background-image: url(&quot;{{ review.img }} &quot;) "></div>
                <div class="reviews__text"> {{ review.include[0].value }}</div>
            </div>
            {% endfor %}
        </div>
        <div class="reviews__hiddenBlock">
            <div class="reviews__list">
                {% for review in elements.Отзывы.data.block %}
                    <div class="reviews__item">
                        <div class="reviews__img" style="background-image: url(&quot;{{ review.img }} &quot;) "></div>
                        <div class="reviews__text"> {{ review.include[0].value }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="btn secondary-2 reviews__btnMore">СМОТРЕТЬ ЕЩЕ</div>
    </div>
</section>
